openapi: 3.0.1
info:
  title: PN Template BE Microservice
  description: Documentation APIs v1.0
  termsOfService: https://termofservice.it
  x-api-id: api-internal-template
  x-summary: 'Piattaforma Notifiche: API template'
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
  - url: https://api.pn.pagopa.it
    description: Generated server url
paths:
  /status:
    get:
      summary: healthCheck path
      description: health check path per verificare lo stato del micro servizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error

  /pn-usage-estimates/api/httpheaders:
    get:
      summary: Build a map of all the Http Header for the request
      operationId: getHttpHeadersMap
      tags:
        - TemplateSample
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                  type: object
                  additionalProperties:
                    type: array
                    items:
                      type: string
        '500':
            description: InternalServerError


  /pn-usage-estimates/v1/estimate:
    post:
      tags:
        - Estimate
      operationId: createOrUpdateEstimate
      x-api-permissions:
        - 'estimate-write'
      summary: Inserimento o modifica di una stima.
      description: API che consente di aggiungere o di modificare i dettagli di una stima.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateDto'

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateDto'
        '400':
          $ref: '#/components/responses/Invalid'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'

  /pn-usage-estimates/v1/estimates:
    get:
      tags:
        - Estimate
      operationId: getAllEstimate
      x-api-permissions:
        - 'estimate-read'
      summary: ritorna elenco di stime in base alla partita iva, al nome della pa o al codice Ipa.
      description: API che estrae la lista di stime
      parameters:
        - $ref: '#/components/parameters/queryPaId'
        - $ref: '#/components/parameters/queryTaxId'
        - $ref: '#/components/parameters/queryIpaId'
        - $ref: '#/components/parameters/queryNumberPage'
        - $ref: '#/components/parameters/querySizePage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableEstimateResponseDto'
        '400':
          $ref: '#/components/responses/Invalid'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'

  /pn-usage-estimates/v1/estimate/{paId}/detail/{referenceMonth}:
    get:
      tags:
        - Estimate
      operationId: getEstimateDetail
      x-api-permissions:
        - 'estimate-read'
      summary: ritorna il dettaglio delle stime in base al mese di riferimento e al paId.
      description: API che ritorna il dettaglio di una stima.
      parameters:
        - $ref: '#/components/parameters/pathPaId'
        - $ref: '#/components/parameters/pathReferenceMonth'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateDto'
        '400':
          $ref: '#/components/responses/Invalid'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'

  /pn-usage-estimates/v1/estimate/{paId}/files/{referenceMonth}:
    get:
      tags:
        - Estimate
      operationId: getAllEstimateFile
      x-api-permissions:
        - 'estimate-read'
      summary: estrae tutte le fatture delle stime associate al pa e al mese di riferimento.
      description: API che consente di estrarre l'elenco fatture delle stime.
      parameters:
        - $ref: '#/components/parameters/pathPaId'
        - $ref: '#/components/parameters/pathReferenceMonth'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listEstimateFile'
        '400':
          $ref: '#/components/responses/Invalid'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'

  /pn-usage-estimates/v1/estimate/{paId}/file/{fileId}:
    get:
      tags:
        - Estimate
      operationId: downloadEstimateFile
      x-api-permissions:
        - 'estimate-read'
      summary: Download fatture delle stime
      description: API che consente il download della fattura del mese di riferimento.
      parameters:
        - $ref: '#/components/parameters/pathPaId'
        - $ref: '#/components/parameters/pathFileId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoDownloadDTO'
        '400':
          $ref: '#/components/responses/Invalid'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'

  /pn-usage-estimates/v1/profilation/:
    post:
      tags:
        - Billing
      operationId: createOrUpdateProfilation
      x-api-permissions:
        - 'profilation-write'
      summary: inserimento dati della PA.
      description: API che consente di aggiungere i dati della PA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilationDTO'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/Invalid'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'

  /pn-usage-estimates/v1/billing/{paId}/profilation:
    get:
      tags:
        - Billing
      operationId: getProfilationDetail
      x-api-permissions:
        - 'profilation-read'
      summary: ritorna il dettaglio della profilazione in base al paId.
      description: API che ritorna il dettaglio della profilazione.
      parameters:
        - $ref: '#/components/parameters/pathPaId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilationDTO'
        '400':
          $ref: '#/components/responses/Invalid'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'

  /pn-usage-estimates/v1/{paId}/billing:
    post:
      tags:
        - Billing
      operationId: createOrUpdateBilling
      x-api-permissions:
        - 'billing-write'
      summary: inserimento dati aggiuntivi per la fatturazione.
      description: API che consente di aggiungere i dati per la fatturazione
      parameters:
        - $ref: '#/components/parameters/pathPaId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingDTO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingDTO'
        '400':
          $ref: '#/components/responses/Invalid'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'

  /pn-usage-estimates/v1/billing/{paId}/detail:
    get:
      tags:
        - Billing
      operationId: getProfilationAndBillingDetail
      x-api-permissions:
        - 'billing-read'
      summary: ritorna il dettaglio della profilazione e della fatturazione in base al paId.
      description: API che ritorna il dettaglio della profilazione e della fatturazione.
      parameters:
        - $ref: '#/components/parameters/pathPaId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfiliationAndBillingDTO'
        '400':
          $ref: '#/components/responses/Invalid'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  schemas:
    EstimateDto:
      type: object
      properties:
        paId:
          type: string
          example: '12345678900'
          format: '/^[0-9]{11}$/'
          maxLength: 32
        paName:
          type: string
          example: 'Comune di Roma'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        taxId:
          type: string
          example: '3242214145'
          format: '/^[0-9]{11}$/'
          maxLength: 32
        address:
          type: string
          example: 'piazza gaeaulenti 56, Milano'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        fiscalCode:
          type: string
          example: 'AV78ABJD123KC9'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        ipaCode:
          type: string
          example: 'abc12324'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        sdiCode:
          type: string
          example: 'abc1334324'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        splitPayment:
          type: boolean
          example: 'true'
        description:
          type: string
          example: 'altre info'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        pec:
          type: string
          example: 'test@pec.it'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        mailAddress:
          type: string
          example: 'test@comune.milano.it'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        status:
          type: string
          enum: [ CREATED, VALIDATED, IN_PROGRESS, ENDED ]
        deadlineDate:
          type: string
          format: date
        referenceMonth:
          type: string
        totalDigitalNotif:
          type: integer
          format: int32
          maximum: 999999999
          minimum: 1
        totalPaper890Notif:
          type: integer
          format: int32
          maximum: 999999999
          minimum: 1
        totalPaperNationalNotif:
          type: integer
          format: int32
          maximum: 999999999
          minimum: 1
        totalPaperInternationalNotif:
          type: integer
          format: int32
          maximum: 999999999
          minimum: 1
        lastModifiedTimestamp:
          type: string
          format: date
      required:
        - paId

    EstimateSearchTableDTO:
      type: object
      properties:
        referenceMonth:
          type: string
        lastModifiedTimestamp:
          type: string
          format: date
        status:
          type: string
          enum: [ CREATED, VALIDATED, IN_PROGRESS, ENDED ]
        checkPDND:
          type: boolean

    listEstimateFile:
      type: array
      items:
        $ref: '#/components/schemas/InfoDownloadDTO'
      maxItems: 999999999
      minItems: 1


    PageableEstimateResponseDto:
      type: object
      allOf:
        - $ref: '#/components/schemas/Page'
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/EstimateSearchTableDTO'
          maxItems: 999999999
          minItems: 1
      additionalProperties: false
      required:
        - content

    Pageable:
      type: object
      properties:
        offset:
          type: integer
          format: int64
          maximum: 999999999
          minimum: 1
        pageNumber:
          type: integer
          format: int32
          maximum: 999999999
          minimum: 1
        pageSize:
          type: integer
          format: int32
          maximum: 999999999
          minimum: 1
        paged:
          type: boolean
        sort:
          $ref: '#/components/schemas/Sort'
        unpaged:
          type: boolean
      additionalProperties: false

    Sort:
      type: object
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
      additionalProperties: false

    Page:
      type: object
      properties:
        empty:
          type: boolean
        first:
          type: boolean
        last:
          type: boolean
        number:
          type: integer
          format: int32
          maximum: 999999999
          minimum: 1
        numberOfElements:
          type: integer
          format: int32
          maximum: 999999999
          minimum: 1
        pageable:
          $ref: '#/components/schemas/Pageable'
        size:
          type: integer
          format: int32
          maximum: 1024
          minimum: 1
        sort:
          $ref: '#/components/schemas/Sort'
        totalElements:
          type: integer
          format: int64
          maximum: 1
          minimum: 1
        totalPages:
          type: integer
          format: int64
          maximum: 999999999
          minimum: 1
      additionalProperties: false
      required:
        - number
        - numberOfElements
        - size
        - totalElements
        - totalPages

    InfoDownloadDTO:
      type: object
      properties:
        idFile:
          type: string
          example: 'A12C34D56789E0'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        paId:
          type: string
          example: 'A12C34D56789E0'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        url:
          type: string
          example: 'http://file.com'
        status:
          type: string
          enum:
            - UPLOADING
            - UPLOADED

    ProfilationDTO:
      type: object
      properties:
        paId:
          type: string
          example: '12345678900'
          format: '/^[0-9]{11}$/'
          maxLength: 32
        paName:
          type: string
          example: 'Comune di Roma'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        taxId:
          type: string
          example: '3242214145'
          format: '/^[0-9]{11}$/'
          maxLength: 32
        address:
          type: string
          example: 'piazza gaeaulenti 56, Milano'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        fiscalCode:
          type: string
          example: 'AV78ABJD123KC9'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        ipaCode:
          type: string
          example: 'abc12324'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        pec:
          type: string
          example: 'test@pec.it'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        deadlineDate:
          type: string
          format: date
        referenceYear:
          type: string
        lastModifiedTimestamp:
          type: string
          format: date
        status:
          type: string
          enum: [ CREATED, VALIDATED, IN_PROGRESS, ENDED ]
        listBilling:
          type: array
          items:
            $ref: '#/components/schemas/BillingDTO'
          maxItems: 999999999
          minItems: 1

    BillingDTO:
      type: object
      properties:
        sdiCode:
          type: string
          example: 'abc1334324'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        splitPayment:
          type: boolean
          example: 'true'
        description:
          type: string
          example: 'altre info'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        mailAddress:
          type: string
          example: 'test@comune.milano.it'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        status:
          type: string
          enum: [ CREATED, VALIDATED, IN_PROGRESS, ENDED ]
        deadlineDate:
          type: string
          format: date
        referenceYear:
          type: string

    ProfiliationAndBillingDTO:
      type: object
      properties:
        paId:
          type: string
          example: '12345678900'
          format: '/^[0-9]{11}$/'
          maxLength: 32
        paName:
          type: string
          example: 'Comune di Roma'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        taxId:
          type: string
          example: '3242214145'
          format: '/^[0-9]{11}$/'
          maxLength: 32
        address:
          type: string
          example: 'piazza gaeaulenti 56, Milano'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        fiscalCode:
          type: string
          example: 'AV78ABJD123KC9'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        ipaCode:
          type: string
          example: 'abc12324'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        sdiCode:
          type: string
          example: 'abc1334324'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        splitPayment:
          type: boolean
          example: 'true'
        description:
          type: string
          example: 'altre info'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        pec:
          type: string
          example: 'test@pec.it'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        mailAddress:
          type: string
          example: 'test@comune.milano.it'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        status:
          type: string
          enum: [ CREATED, VALIDATED, IN_PROGRESS, ENDED ]
        deadlineDate:
          type: string
          format: date
        referenceMonth:
          type: string
        lastModifiedTimestamp:
          type: string
          format: date
        onBoardingDate:
          type: string
          format: date
      required:
        - paId

  parameters:
    pathPaId:
      name: paId
      in: path
      required: true
      schema:
        type: string

    pathFileId:
      name: fileId
      in: path
      required: true
      schema:
        type: string

    queryPaId:
      name: paId
      in: query
      required: false
      schema:
        type: string

    queryTaxId:
      name: taxId
      in: query
      required: false
      schema:
        type: string

    queryIpaId:
      name: ipaId
      in: query
      required: false
      schema:
        type: string

    pathReferenceMonth:
      name: referenceMonth
      in: path
      required: true
      schema:
        type: string

    querySizePage:
      name: size
      in: query
      description: Numero di elementi per pagina.
      required: false
      schema:
        type: integer
        default: 5
        format: int32
        maximum: 999999999
        minimum: 1

    queryNumberPage:
      name: page
      in: query
      description: Risultati di pagina che si vuole ottenere (0..N)
      required: false
      schema:
        type: integer
        default: 0
        format: int32
        maximum: 999999999
        minimum: 0

  responses:
    Forbidden:
      description: Forbidden
    NotFound:
      description: Not found
    Invalid:
      description: Bad Request
    NotAllowed:
      description: Method not allowed
    InternalError:
      description: Internal Server Error
    Unauthorized:
      description: Unauthorized

#  securitySchemes:                                      # ONLY EXTERNAL
#    bearerAuth:                                         # ONLY EXTERNAL
#      type: http                                        # ONLY EXTERNAL
#      scheme: bearer                                    # ONLY EXTERNAL
#      bearerFormat: JWT                                 # ONLY EXTERNAL
#security:                                               # ONLY EXTERNAL
# - bearerAuth: []                                       # ONLY EXTERNAL
              