openapi: 3.0.1
info:
  title: PN Usage Estimates BE Microservice
  description: Documentation APIs v1.0
  termsOfService: https://termofservice.it
  x-api-id: api-internal-template
  x-summary: 'Piattaforma Stime: API'
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
  - url: https://api.pn.pagopa.it
    description: Generated server url
paths:
  /status:
    get:
      summary: healthCheck path
      description: health check path per verificare lo stato del micro servizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error

  /pn-usage-estimates/{paId}/estimate/{referenceMonth}:
    post:
      tags:
        - Estimate
      operationId: createOrUpdateEstimate
      x-api-permissions:
        - 'estimate-write'
      summary: Inserimento o modifica di una stima.
      description: API che consente di aggiungere o di modificare i dettagli di una stima.
      parameters:
        - $ref: '#/components/parameters/queryStatus'
        - $ref: '#/components/parameters/pathPaId'
        - $ref: '#/components/parameters/pathReferenceMonth'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateCreateBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimatePeriod'
        '400':
          description: Errore di validazione sintattica della richiesta
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'


  /pn-usage-estimates/{paId}/estimate/{referenceMonth}/validated:
    get:
      tags:
        - Estimate
      operationId: validated
      x-api-permissions:
        - 'estimate-read'
      summary: Validazione stima.
      description: API che consente di modificare lo stato di una stima.
      parameters:
        - $ref: '#/components/parameters/pathPaId'
        - $ref: '#/components/parameters/pathReferenceMonth'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimatePeriod'
        '400':
          description: Errore di validazione sintattica della richiesta
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'

  /pn-usage-estimates/estimates:
    get:
      tags:
        - Estimate
      operationId: getAllEstimate
      x-api-permissions:
        - 'estimate-read'
      summary: ritorna elenco di stime in base alla partita iva, al nome della pa o al codice Ipa.
      description: API che estrae la lista di stime
      parameters:
        - $ref: '#/components/parameters/queryPaId'
        - $ref: '#/components/parameters/queryTaxId'
        - $ref: '#/components/parameters/queryIpaId'
        - $ref: '#/components/parameters/queryNumberPage'
        - $ref: '#/components/parameters/querySizePage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableEstimateResponseDto'
        '400':
          description: Errore di validazione sintattica della richiesta
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'

  /pn-usage-estimates/estimate/{paId}/detail/{referenceMonth}:
    get:
      tags:
        - Estimate
      operationId: getEstimateDetail
      x-api-permissions:
        - 'estimate-read'
      summary: ritorna il dettaglio delle stime in base al mese di riferimento e al paId.
      description: API che ritorna il dettaglio di una stima.
      parameters:
        - $ref: '#/components/parameters/pathPaId'
        - $ref: '#/components/parameters/pathReferenceMonth'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateDetail'
        '400':
          description: Errore di validazione sintattica della richiesta
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'

  /pn-usage-estimates/estimate/{paId}/files/{referenceMonth}:
    get:
      tags:
        - Estimate
      operationId: getAllEstimateFile
      x-api-permissions:
        - 'estimate-read'
      summary: estrae tutte le fatture delle stime associate al pa e al mese di riferimento.
      description: API che consente di estrarre l'elenco fatture delle stime.
      parameters:
        - $ref: '#/components/parameters/pathPaId'
        - $ref: '#/components/parameters/pathReferenceMonth'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listEstimateFile'
        '400':
          description: Errore di validazione sintattica della richiesta
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'

  /pn-usage-estimates/estimate/{paId}/file/{fileId}:
    get:
      tags:
        - Estimate
      operationId: downloadEstimateFile
      x-api-permissions:
        - 'estimate-read'
      summary: Download fatture delle stime
      description: API che consente il download della fattura del mese di riferimento.
      parameters:
        - $ref: '#/components/parameters/pathPaId'
        - $ref: '#/components/parameters/pathFileId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoDownloadDTO'
        '400':
          description: Errore di validazione sintattica della richiesta
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'

  /pn-usage-estimates/billing/{paId}/profilation:
    get:
      tags:
        - Billing
      operationId: getProfilationDetail
      x-api-permissions:
        - 'profilation-read'
      summary: ritorna il dettaglio della profilazione in base al paId.
      description: API che ritorna il dettaglio della profilazione.
      parameters:
        - $ref: '#/components/parameters/pathPaId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profiling'
        '400':
          description: Errore di validazione sintattica della richiesta
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '500':
          $ref: '#/components/responses/InternalError'



components:
  schemas:
    Problem:
      properties:
        type:
          description: URI reference of type definition
          type: string
        status:
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          type: integer
          format: int32
          example: 503
          maximum: 600
          minimum: 100
          exclusiveMaximum: true
        title:
          description: A short, summary of the problem type. Written in english and readable
          example: Service Unavailable
          maxLength: 64
          pattern: ^[ -~]{0,64}$
          type: string
        detail:
          description: A human readable explanation of the problem.
          example: Request took too long to complete.
          maxLength: 4096
          pattern: ^.{0,4096}$
          type: string
        traceId:
          description: Internal support identifier associated to error
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
        timestamp:
          description: date and time referred to UTC
          example: 2022-07-27T12:22:33.444Z
          type: string
          format: date-time
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProblemError'
      required:
        - status
        - errors
    ProblemError:
      properties:
        code:
          description: Internal code of the error, in human-readable format
          example: PN_PARAMETER_TOO_LONG | PN_PARAMETER_TOO_SHORT | PN_DUPLICATE_ENTRY | etc...
          type: string
        element:
          description: Parameter or request body field name for validation error
          example: 'body.order.item[2].quantity'
          type: string
        detail:
          description: A human readable explanation specific to this occurrence of the problem.
          example: Parameter not valid
          maxLength: 1024
          type: string
      required:
        - code


    EstimateDetail:
      type: object
      properties:
        paInfo:
          $ref: '#/components/schemas/PAInfo'
        billing:
          $ref: '#/components/schemas/Billing'
        estimate:
          $ref: '#/components/schemas/Estimate'
      allOf:
        - $ref: '#/components/schemas/Period'
      required:
        - paInfo
        - billing
        - status
        - referenceMonth
        - estimate
        - showEdit

    PAInfo:
      type: object
      properties:
        paId:
          type: string
          example: '12345678900'
          format: '/^[0-9]{11}$/'
          maxLength: 32
        paName:
          type: string
          example: 'Comune di Roma'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        taxId:
          type: string
          example: '3242214145'
          format: '/^[0-9]{11}$/'
          maxLength: 32
        registeredOffice:
          type: string
          example: 'piazza gaeaulenti 56, Milano'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        pec:
          type: string
          example: 'test@pec.it'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        ipaCode:
          type: string
          example: 'abc12324'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        sdiCode:
          type: string
          example: 'abc1334324'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32

    Period:
      type: object
      properties:
        status:
          type: string
          enum: [ VALIDATED, DRAFT, ABSENT ]
        deadlineDate:
          type: string
          format: date
        referenceMonth:
          type: string
        lastModifiedDate:
          type: string
          format: date
        showEdit:
          type: boolean
      required:
        - status
        - referenceMonth
        - deadlineDate
        - showEdit

    Estimate:
      type: object
      properties:
        totalDigitalNotif:
          type: integer
          format: int32
          maximum: 999999999
          minimum: 1
        total890Notif:
          type: integer
          format: int32
          maximum: 999999999
          minimum: 1
        totalAnalogNotif:
          type: integer
          format: int32
          maximum: 999999999
          minimum: 1
      required:
        - totalDigitalNotif
        - total890Notif
        - totalAnalogNotif

    EstimateCreateBody:
      type: object
      allOf:
        - $ref: '#/components/schemas/Estimate'
        - $ref: '#/components/schemas/Billing'

    EstimatePeriod:
      type: object
      properties:
        estimate:
          $ref: '#/components/schemas/Estimate'
        billing:
          $ref: '#/components/schemas/Billing'
      allOf:
        - $ref: '#/components/schemas/Period'

    EstimateSearchTable:
      type: object
      properties:
        referenceMonth:
          type: string
        deadlineDate:
          type: string
        lastModifiedDate:
          type: string
          format: date
        status:
          type: string
          enum: [ VALIDATED, DRAFT, ABSENT ]


    listEstimateFile:
      type: array
      items:
        $ref: '#/components/schemas/InfoDownloadDTO'
      maxItems: 999999999
      minItems: 1


    PageableEstimateResponseDto:
      type: object
      properties:
        actual:
          $ref: '#/components/schemas/EstimatePeriod'
        history:
          $ref: '#/components/schemas/Page'
      additionalProperties: false
      required:
        - content

    Pageable:
      type: object
      properties:
        offset:
          type: integer
          format: int64
          maximum: 999999999
          minimum: 1
        pageNumber:
          type: integer
          format: int32
          maximum: 999999999
          minimum: 1
        pageSize:
          type: integer
          format: int32
          maximum: 999999999
          minimum: 1
        paged:
          type: boolean
        sort:
          $ref: '#/components/schemas/Sort'
        unpaged:
          type: boolean
      additionalProperties: false

    Sort:
      type: object
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
      additionalProperties: false

    Page:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/EstimateSearchTable'
          maxItems: 999999999
          minItems: 1
        empty:
          type: boolean
        first:
          type: boolean
        last:
          type: boolean
        number:
          type: integer
          format: int32
          maximum: 999999999
          minimum: 1
        numberOfElements:
          type: integer
          format: int32
          maximum: 999999999
          minimum: 1
        pageable:
          $ref: '#/components/schemas/Pageable'
        size:
          type: integer
          format: int32
          maximum: 1024
          minimum: 1
        sort:
          $ref: '#/components/schemas/Sort'
        totalElements:
          type: integer
          format: int64
          maximum: 1
          minimum: 1
        totalPages:
          type: integer
          format: int64
          maximum: 999999999
          minimum: 1
      additionalProperties: false
      required:
        - number
        - numberOfElements
        - size
        - totalElements
        - totalPages

    InfoDownloadDTO:
      type: object
      properties:
        idFile:
          type: string
          example: 'A12C34D56789E0'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        paId:
          type: string
          example: 'A12C34D56789E0'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        url:
          type: string
          example: 'http://file.com'
        status:
          type: string
          enum:
            - UPLOADING
            - UPLOADED

    Profiling:
      type: object
      properties:
        paInfo:
          $ref: '#/components/schemas/PAInfo'
        profiles:
          type: array
          items:
            $ref: '#/components/schemas/ProfilingDetail'
          maxItems: 999999999
          minItems: 1

    ProfilingDetail:
      type: object
      properties:
        billing:
          $ref: '#/components/schemas/Billing'
        status:
          type: string
          enum: [ CREATED, VALIDATED, IN_PROGRESS, ENDED ]
        deadlineDate:
          type: string
          format: date
        referenceYear:
          type: string
        showEdit:
          type: boolean
      required:
        - billing
        - status
        - referenceYear
        - showEdit

    Billing:
      type: object
      properties:
        splitPayment:
          type: boolean
          example: 'true'
        description:
          type: string
          example: 'altre info'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
        mailAddress:
          type: string
          example: 'test@comune.milano.it'
          format: '/[^A-Za-z0-9]+/'
          maxLength: 32
      required:
        - splitPayment
        - mailAddress

  parameters:
    pathPaId:
      name: paId
      in: path
      required: true
      schema:
        type: string

    pathFileId:
      name: fileId
      in: path
      required: true
      schema:
        type: string

    queryPaId:
      name: paId
      in: query
      required: false
      schema:
        type: string

    queryTaxId:
      name: taxId
      in: query
      required: false
      schema:
        type: string

    queryIpaId:
      name: ipaId
      in: query
      required: false
      schema:
        type: string

    queryStatus:
      name: status
      in: query
      required: true
      schema:
        type: string
        enum:
          - VALIDATED
          - DRAFT

    pathReferenceMonth:
      name: referenceMonth
      in: path
      required: true
      example: "MAR-2023"
      schema:
        type: string

    pathReferenceYear:
      name: referenceYear
      in: path
      required: true
      schema:
        type: string

    querySizePage:
      name: size
      in: query
      description: Numero di elementi per pagina.
      required: false
      schema:
        type: integer
        default: 5
        format: int32
        maximum: 999999999
        minimum: 1

    queryNumberPage:
      name: page
      in: query
      description: Risultati di pagina che si vuole ottenere (0..N)
      required: false
      schema:
        type: integer
        default: 0
        format: int32
        maximum: 999999999
        minimum: 0

  responses:
    Forbidden:
      description: Forbidden
    NotFound:
      description: Not found
    Invalid:
      description: Bad Request
    NotAllowed:
      description: Method not allowed
    InternalError:
      description: Internal Server Error
    Unauthorized:
      description: Unauthorized

  securitySchemes:                                      # ONLY EXTERNAL
    bearerAuth:                                         # ONLY EXTERNAL
      type: http                                        # ONLY EXTERNAL
      scheme: bearer                                    # ONLY EXTERNAL
      bearerFormat: JWT                                 # ONLY EXTERNAL
security:                                               # ONLY EXTERNAL
 - bearerAuth: []                                       # ONLY EXTERNAL
              
